<a href="https://colab.research.google.com/github/johnlex07/Datascience300/blob/main/Talleres/Ejercicio2(25_11_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1 : Listas
Tienen la siguiente lista🏀⚾⚽🥤⭐

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

Se desea obtener el siguiente output pero usando solo el metódo append:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [4]:
list1=[10,20,[300,400,[5000,6000],500],30,40]
print(list1)
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Ejercicio 2 : Sets
Dados los siguientes conjuntos⛹✅☁⚽✨

s1 = {10, 20, 30, 40, 50}

s2 = {30, 40, 50, 60, 70}

1. Como es posible obtener el siguiente output con alguno de los metódos vistos para sets
{40, 50, 30}

2. Como es posible obtener el siguiente output con alguno de los metódos vistos para sets
{70, 40, 10, 50, 20, 60, 30}

3. Extraer todos los elementos de s2 que no estan en s1

In [9]:
s1 = {10, 20, 30, 40, 50}
print(s1)
s2 = {30, 40, 50, 60, 70}
print(s2)
print('Punto 1')
print(s2.intersection(s1))
print('Punto 2')
print(s1.union(s2))
print('Punto 3')
print(s2.difference(s1))

{40, 10, 50, 20, 30}
{70, 40, 50, 60, 30}
Punto 1
{40, 50, 30}
Punto 2
{70, 40, 10, 50, 20, 60, 30}
Punto 3
{60, 70}

Ejercicio 3: Tuplas
Dada la siguiente tupla✈⏰♒⛹

tupla=(10, 20, 30, 40, 50)

Responder:

1. Ordenar la tupla de mayor a menor
2. Extraer los valores de la tupla en las siguientes variables: a,b,c,d,e
3. Ahora suponga que tiene la siguiente tupla: tupla_d = (11, [22, 33], 44, 55) Recordando el concepto de inmutabilidad de las tuplas, sería posible poder modificar el valor 22 por 222 o en este caso no se puede?. Justifiquen

In [17]:
import numpy as np
tupla=(10,20,30,40,50)
print(tupla)
print('Parte 1')
print(tupla[::-1])
print('Parte 2')
a,b,c,d,e=tupla
print(a,b,c,d,e)
print('Parte 3')
tupla_d = (11, [22, 33], 44, 55)
tupla_d[1][0] = 222
print(tupla_d)

(10, 20, 30, 40, 50)
Parte 1
(50, 40, 30, 20, 10)
Parte 2
10 20 30 40 50
Parte 3
(11, [222, 33], 44, 55)

## Ejercicio 4: Diccionarios

1. Supongan que tienen el siguiente diccionario similar a lo que se obtiene de una API ([texto del enlace](https://www.freecodecamp.org/news/what-is-an-api-in-english-please-b880a3214a82/)) 
```
dict_david = {
    "clase": {
        "estudiante": {
            "nombre": "David",
            "notas": {
                "fisica": 4.9,
                "matematicas": 4.8
            }
        }
    }
}
```

Como se puede obtener el valor respectivo para la llave primaria ```matematicas```❗♥♨ℹ

2. Con base en el siguiente diccionario, renombrar la llave primaria ciudad por ubicacion 🥱⏬⚡✉

```dic_prueba = {
  "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}
```

3. Obtener la llave primaria del valor minimo para el siguiente diccionario 😶🧵⚔♦

```
dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}
```

4. Con base en el siguiente diccionario✈⚔😀😼
```
dict_a = {
    'e1': {'nombre': 'David', 'salario': 12000000},
    'e2': {'nombre': 'Juan', 'salario': 7590000},
    'e3': {'nombre': 'Amir', 'salario': 6787000}
}
```
Reemplazar el valor de 7590000 de Juan por 8000000.

In [20]:
print('Punto 1')
dict_david = {
 "clase": {
     "estudiante": {
         "nombre": "David",
         "notas": {
             "fisica": 4.9,
             "matematicas": 4.8
         }
     }
 }
}
print(dict_david)
print(dict_david['clase']['estudiante']['notas']['matematicas'])

print('Punto 2')
dicc = { "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}
print(dicc)
    
dicc['ubicacion'] = dicc.pop('ciudad')
print(dicc)

Punto 1
{'clase': {'estudiante': {'nombre': 'David', 'notas': {'fisica': 4.9, 'matematicas': 4.8}}}}
4.8
Punto 2
{'nombre': 'Juan', 'edad': 25, 'salario': 8000000, 'ciudad': 'Santiago'}
{'nombre': 'Juan', 'edad': 25, 'salario': 8000000, 'ubicacion': 'Santiago'}